* {
    font-family: 'Oswald', sans-serif;
}
.navigation { 
    width: 100%;
    border-collapse: collapse;
    position: fixed;
    top: 0px;
    left: 0px;
    background:  linear-gradient(to bottom, rgba(248, 7, 7, 0.4), whitesmoke );
    height: 40px;
    text-align:right;
    text-transform:uppercase;
    padding: 20px;
}

.navigation a {
    margin: 30px;
    text-decoration: none;
    letter-spacing: 10px;
}

li:hover {
    color:whitesmoke;
}

header {
    text-align:justify;
    margin: 250px 20px 20px 250px;

}
 
img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    float:right;
    margin-top: -50px;
    margin-right: 250px;

}

article {
    text-align: justify;
}

article p {
    margin: 50px 20px 50px 250px;
}

.contact a {
    display: inline-block;
    margin: 0px 600px 20px 300px;
    background-color: lightsteelblue;
    border-radius: 10px;
    text-decoration: none;
    text-align:center;
    text-transform: uppercase;
    padding: 20px 50px;
}


