* {
    font-family: 'Oswald', sans-serif;
}
.navigation { 
    width: 100%;
    border-collapse: collapse;
    position: fixed;
    top: 0px;
    left: 0px;
    background:  linear-gradient(to bottom, rgba(248, 7, 7, 0.4), whitesmoke );
    height: 40px;
    text-align:right;
    text-transform:uppercase;
    padding: 20px;
}

.navigation a {
    margin: 30px;
    text-decoration: none;
    letter-spacing: 10px;
    color: black;
}

a:hover {
    color: black;
    color:whitesmoke;
}

header {
    text-align:justify;
    margin: 250px 20px 20px 250px;

}
 
img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    float:right;
    margin-top: -50px;
    margin-right: 250px;

}

article {
    text-align: justify;
}

article p {
    margin: 50px 20px 50px 250px;
}

.contact a {
    display: inline-block;
    margin: 0px 600px 20px 300px;
    background:  linear-gradient(to bottom, rgba(248, 7, 7, 0.4), whitesmoke );
    border-radius: 10px;
    text-decoration: none;
    text-align:center;
    text-transform: uppercase;
    padding: 20px 50px;
    color: black;
}

.contact a:hover {
    color: whitesmoke;
}

.line {
    border-bottom: 1px solid black;
    position: center;
    margin: 70px 500px;
}

.col1,.col2, .col3 {
    display:inline-block;
    text-align:center;
    margin: 0 100px;   
}

.col2 {
    margin: 0 50px;   
}
    
.pic {
    height: 50px;
    display:inline-block;
    margin: 0 auto;
}
